div#errorModal.modal.fade(tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.bg-danger.text-white
        h5#errorModalLabel.modal-title ¡Error!
      .modal-body
        ul#modalErrorList.list-group.list-group-flush