div#mensajeModal.modal.fade(tabindex="-1" aria-labelledby="mensajeLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5#mensajeTitulo.modal-title Mensaje:
      .modal-body
        p#mensajeTexto
      .modal-footer
        small#mensajePie.text-muted Si no logras cerrar esta ventana pulsa la tecla ESC.