div#mensajeModal.modal.fade(tabindex="-1" aria-labelledby="mensajeLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.bg-warning
        h5#mensajeTitulo.modal-title Mensaje:
      .modal-body
        p#mensajeTexto