div#mensajeConfirmacionModal.modal.fade(tabindex="-1" aria-labelledby="mensajeConfirmacionLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5#mensajeConfirmacionTitulo.modal-title 
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Cerrar")
      .modal-body
        p#mensajeConfirmacionTexto 
      .modal-footer
        button.btn.btn-warning(type="button" data-bs-dismiss="modal") Cerrar