div#rememberModal.modal.fade(tabindex="-1" aria-labelledby="recordarPassUsuarioLabel" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#recordarPassUsuarioLabel.modal-title Registro de Usuario
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Cerrar")
      .modal-body.px-5.pb-0
        form#formRecordarPassword
          h3 Recuperar Contrase침a
          .row
            .col-12
              .mb-3
                label.form-label.text-justify.mb-3(for="emailRecuperacion") Introduce tu correo electr칩nico y te enviaremos un enlace para restablecer tu contrase침a. Si no recibe el correo en unos minutos, revise su carpeta de spam.
                input#emailRecuperacion.form-control(type="email" name="email" required)
                small#emailRecuperacionError.text-danger
          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
            button.btn.btn-warning#rememberBtn(type="submit") Enviar correo electr칩nico