<div style="font-family: Arial, sans-serif; width:50%; margin:0 auto;">
    <div style="background-color: #212529; padding: 20px; border-radius: 10px; text-align: center;">
        <img src="http://expodogs.es/media/img/logo.png" alt="Expodogs Logo" style="width: 50%;">
    </div>
    <h1 style="text-align: center;">Hola, ${nombre}</h1>
    <div style="padding: 0px 20px; text-align: center;">
        <p style="text-align: left;">Gracias por registrarte en Expodogs. Para activar tu cuenta, haz clic en el siguiente enlace:</p>
        <a href="http://localhost:4000/verificar-cuenta?token=${tokenVerificacion}" 
           style="display: inline-block; background-color: #212529; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
           Activar mi cuenta
        </a>
    </div>
</div>
