.container.mt-5
    h1.text-center ¡ATENCIÓN!
    p.text-justify
        | No podrán participar en el certamen aquellos ejemplares cuya propiedad discrepe documentalmente de la registrada en las bases de datos de la R.S.C.E. En el caso de residentes en territorio español deberán tener registrados sus ejemplares en el LOE o RRC, los residentes en el extranjero y pertenecientes a una Organización Canina Nacional miembro de la F.C.I., deberán adjuntar copia del Pedigree Original. Cualquier discrepancia, podrá dar lugar a ser sancionados y anuladas las calificaciones y premios obtenidos en caso de que lleguen a participar en el certamen.
    p.text-justify
        span.fw-bold «AFECTA SOLO A LOS NACIDOS DESPUÉS DEL 01/02/2018» 
        | No podrán participar aquellos ejemplares inscritos en el LOE o RRC de la RSCE con corte de cola, de las orejas o cualquier otra intervención quirúrgica cuyo objeto sea modificar su apariencia o conseguir otros fines no curativos nacidos a partir del 1/02/2018, en alguno de los supuestos excepcionales previstos en el artículo 11 del Reglamento de la RSCE, para los perros con cola cortada o sin cola deben enviar
        span.fw-bold  CERTIFICADO DE COLA CORTADA (TAIL DOCKING CERTIFICATE)
        | , y figurar incluidos en el catálogo como ejemplares con CC/SC.
        a(href='https://scaragon.expodogs.es/aragon2019/cc-sc.pdf' target='_blank') (DE IMPORTANTE LECTURA-RESUMEN REGLAMENT0 Pinche Aquí)