header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container 
            a.navbar-brand.d-flex.align-items-center(href="/")
                img(src="img/logo.png" alt="Logo" class="img-fluid" style="max-height: 50px; width: auto;")
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
                #esto.container.mx-auto
            div.collapse.navbar-collapse(id="navbarNav")
                ul.navbar-nav.w-100
                    li.nav-item.ms-lg-auto
                        a.nav-link(id="nav-inicio", href="/") Pr贸ximas Exposiciones
                    li.nav-item
                        a.nav-link(id="nav-nosotros", href="/exposiciones-pasadas") Exposiciones Pasadas
                    li.nav-item
                        a.nav-link(id="nav-contacto", href="/contacto") Contacto
                    li.nav-item.d-xxl-none
                        if !usuario
                            button.btn.btn-warning(data-bs-toggle="modal" data-bs-target="#loginModal") Iniciar Sesi贸n / Registrarse
                        else
                            .dropdown
                                button#dropdownMenuButton.btn.btn-warning.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') Hola, #{usuario.nombre}
                                ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    li
                                        a.dropdown-item(href="/miCuenta") Mi Cuenta
                                    li
                                        a.dropdown-item(href="/misPerros") Mis Perros
                                    li
                                        a.dropdown-item(href="/inscribirPerro") Inscribir Perro en Exposici贸n
                                    li
                                        a.dropdown-item(href="/misInscripciones") Mis Inscripciones y Pagos
                                    li
                                        a.dropdown-item(href="/dorsales") Dorsales
                                    div.text-center.mt-1
                                        form(action="/logout" method="POST")
                                            button.btn.btn-warning(type='submit') Cerrar Sesi贸n
                    
