.container.mt-3
    .mb-5
        h1.text-center.w-75.mx-auto Bienvenido a la Gestión de registro de Inscripciones de EXPODOGs
    p.text-justify Esta gestión nace en sentido de dar un mejor servicio al expositor, desde este programa podrá gestionar sus perros, inscripciones, documentación de forma personal con la creación de su cuenta. Una vez registrado en el sistema su cuenta permanecerá abierta para todos los eventos de EXPODOGs. Con este nuevo servicio va a permitir que no existan errores mediante filtros que el expositor mismo va a facilitar al programa, desde la gestión vía internet podrá conocer siempre el estado de sus inscripciones este donde.
    p.text-justify Gestión Integral Exposiciones SL (EXPODOGs) permite efectuar el pago ONLINE mediante PayPal (tenga en cuenta que origina gastos), LE RECOMENDAMOS elija la pasarela de pago directa por Tarjeta de Credito/Debito.